---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sabnzbd
resources:
  - ../../base
  - pv-downloads.yaml
  - pvc-downloads.yaml
  - sabnzbd.yaml
  - ingress.yaml
  - restic-credentials.sealed.yaml
  - backup.yaml
  - infisical.yaml
