internal-paulfriedrich-me-prod-taloscontrolplane01.yaml
talosconfig
internal-paulfriedrich-me-prod-talosworker01.yaml
internal-paulfriedrich-me-prod-talosworker02.yaml
internal-paulfriedrich-me-prod-taloscontrolplane02.yaml
internal-paulfriedrich-me-prod-taloscontrolplane03.yaml
internal-paulfriedrich-me-prod-talosworker03.yaml
