internal-paulfriedrich-me-prod-taloscontrolplane01.yaml
talosconfig
internal-paulfriedrich-me-prod-talosworker01.yaml
internal-paulfriedrich-me-prod-talosworker02.yaml
internal-paulfriedrich-me-prod-taloscontrolplane02.yaml
internal-paulfriedrich-me-prod-taloscontrolplane03.yaml
internal-paulfriedrich-me-prod-talosworker03.yaml
internal-paulfriedrich-me-prod-talos-control-eex0.yaml
internal-paulfriedrich-me-prod-talos-control-vrcn.yaml
internal-paulfriedrich-me-prod-talos-control-euvu.yaml
internal-paulfriedrich-me-prod-talos-worker-74s1.yaml
internal-paulfriedrich-me-prod-talos-worker-8up6.yaml
internal-paulfriedrich-me-prod-talos-worker-lyfg.yaml
