---
apiVersion: v1
kind: Service
metadata:
  name: gtnh
  annotations:
    "lbipam.cilium.io/ips": "172.16.61.4"
  labels:
    app: gtnh
spec:
  selector:
    app: gtnh
  type: LoadBalancer
  ports:
    - name: mc
      port: 25565
      protocol: TCP
      targetPort: mc
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: gtnh
  labels:
    app: gtnh
spec:
  selector:
    matchLabels:
      app: gtnh
  serviceName: gtnh
  replicas: 1
  template:
    metadata:
      labels:
        app: gtnh
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
      - name: gtnh
        image: itzg/minecraft-server:java25
        env:
          - name: UID
            value: "1000"
          - name: GID
            value: "1000"
          - name: EULA
            value: "TRUE"
          - name: TYPE
            value: "GTNH"
          - name: MEMORY
            value: "6G"
          - name: WHITELIST_FILE
            value: "/secrets/whitelist/whitelist.json"
        ports:
          - containerPort: 25565
            name: mc
            protocol: TCP
        resources:
          requests:
            memory: "6Gi"
          limits:
            memory: "8Gi"
        volumeMounts:
          - name: data
            mountPath: /data
          - name: whitelist
            mountPath: /secrets/whitelist
            readOnly: true
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
      volumes:
        - name: whitelist
          secret:
            secretName: whitelist
  volumeClaimTemplates:
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: data
      namespace: gtnh
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: "freenas-api-iscsi-csi"
      resources:
        requests:
          storage: 32Gi
