---
apiVersion: v1
kind: Service
metadata:
  name: gtnh
  annotations:
    "lbipam.cilium.io/ips": "172.16.61.4"
  labels:
    app: gtnh
spec:
  selector:
    app: gtnh
  ports:
    - name: mc
      port: 25565
      protocol: TCP
      targetPort: mc
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: gtnh
  labels:
    app: gtnh
spec:
  selector:
    matchLabels:
      app: gtnh
  serviceName: gtnh
  replicas: 1
  template:
    metadata:
      labels:
        app: gtnh
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
      - name: gtnh
        image: itzg/minecraft-server:java25
        env:
          - name: UID
            value: "1000"
          - name: GID
            value: "1000"
          - name: EULA
            value: "TRUE"
          - name: TYPE
            value: "CUSTOM"
          - name: GENERIC_PACKS
            value: "GT_New_Horizons_2.8.0_Server_Java_17-25"
          - name: GENERIC_PACKS_SUFFIX
            value: ".zip"
          - name: GENERIC_PACKS_PREFIX
            value: "https://downloads.gtnewhorizons.com/ServerPacks/"
          - name: SKIP_GENERIC_PACK_UPDATE_CHECK
            value: "true"
          - name: MEMORY
            value: "6G"
          - name: JVM_OPTS
            value: "-Dfml.readTimeout=180 @java9args.txt"
          - name: CUSTOM_SERVER
            value: "https://github.com/GTNewHorizons/lwjgl3ify/releases/download/2.1.16/lwjgl3ify-2.1.16-forgePatches.jar"
          - name: MOTD
            value: "GT:New Horizons 2.8.0"
          - name: DIFFICULTY
            value: "hard"
          - name: ENABLE_COMMAND_BLOCK
            value: "true"
          - name: SPAWN_PROTECTION
            value: "1"
          - name: VIEW_DISTANCE
            value: "8"
          - name: MODE
            value: "0"
          - name: LEVEL_TYPE
            value: "rwg"
          - name: ALLOW_FLIGHT
            value: "TRUE"
        ports:
          - containerPort: 25565
            name: mc
            protocol: TCP
        volumeMounts:
          - name: data
            mountPath: /data
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
  volumeClaimTemplates:
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: data
      namespace: gtnh
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: "freenas-api-iscsi-csi"
      resources:
        requests:
          storage: 32Gi
