---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: paperless-backup
spec:
  sourcePVC: data-paperless-0
  trigger:
    schedule: "15 2 * * *"
  restic:
    pruneIntervalDays: 14
    repository: restic-config
    retain:
      daily: 7
      weekly: 4
      monthly: 12
      yearly: 1
    copyMethod: Snapshot
    volumeSnapshotClassName: longhorn
    moverSecurityContext:
      runAsUser: 1001
      runAsGroup: 1001
      fsGroup: 1001
      fsGroupChangePolicy: "OnRootMismatch"

