---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
- base/namespace.yaml
- base/project.yaml
- base/argocd.yaml
- base/argocd-cm.yaml
- base/root.yaml
- base/ingress-route.yaml

helmCharts:
- name: argo-cd
  version: 9.1.4
  releaseName: argocd
  repo: https://argoproj.github.io/argo-helm
  valuesFile: values.yaml
  namespace: argocd
