---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: radarr-backup
spec:
  sourcePVC: data-radarr-0
  trigger:
    schedule: "10 2 * * *"
  restic:
    pruneIntervalDays: 14
    repository: restic-credentials
    retain:
      daily: 7
      weekly: 4
      monthly: 12
      yearly: 1
    copyMethod: Snapshot
    volumeSnapshotClassName: longhorn
    moverSecurityContext:
      runAsUser: 1001
      runAsGroup: 1001

